<article class="movie">
    <h1>{{data.attributes.title}}</h1>
    <img class="movie-image" src="{{data.attributes.image.url}}" alt="{{data.attributes.title}}">
    <section>{{{markdown data.attributes.intro}}}</section>
</article>